

<!DOCTYPE html>
<html lang="en">
<head>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Story 6</title>
</head>
<body>


    <div class="content container" style="margin-top: 3vh">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/story10">Subscribe</a>
            </li>

        </ul>

        <div class="row" style="margin-top: 12vh">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% if user.is_authenticated %}
                <h2>Hello, {{ user.username }} apa kabar?</h2>
                {% endif %}
            </div>
            <div class="col-md-2"></div>


        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form method="POST" action="{% url 'landingpage:home' %}" class="form-group" >
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="save btn btn-default" name="submit" style="margin-top: 3vh">Save</button>
                </form>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Your Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{i.status}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</body>
</html>`