<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="964248809008-ngn649mhgnminrfj23fr350lkt26ubv6.apps.googleusercontent.com">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Story 10</title>


    <style>
        .g-signin2{
            padding-top: 0px!important;
            padding-bottom: 0px!important;

        }
    </style>
</head>
<body>

    <div class="container" style="margin-top: 3vh">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a id="b" class="nav-link" href="/books">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/story10">Subscribe</a>
            </li>
            <li class="nav-item signout ">
                <a class="nav-link" style="margin-left: 12px" href="#" onclick="signOut();">Sign out</a>
            </li>

            <li class="nav-item Profile ">
                <a class="nav-link"></a>
            </li>

            <li class="nav-item signin">
                <a class="g-signin2 nav-link" data-onsuccess="onSignIn" ></a>
            </li>

        </ul>
    </div>

    <div class="container" style="margin-top: 5vh">
        <div class="container subscriber">
            <h1>Subscriber</h1>

            <table class=" container table table-striped" style="margin-top: 5vh;padding-right: 2vw">
                <thead>
                <tr>
                    <th style="text-align: center">#</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Unsubscribe</th>
                </tr>
                </thead>


                <tbody id="list">

                </tbody>
            </table>
            <button class="subscribe btn btn-primary" name="Subscriber" style="margin-top: 3vh;margin-bottom: 5vh">Subscribe</button>

        </div>
        <form method="POST" action="#" class="form-group" >
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="save btn btn-default" name="submit" style="margin-top: 3vh">Save</button>
        </form>
        <div class="alert alert-danger fade show" role="alert" style="margin-top: 2vh">
            <strong>Email sudah terdaftar.</strong> <br> Silahkan gunakan email yang lain
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 2vh">
             Subscribe berhasil. Terimakasih
        </div>
    </div>

    <!---------------------- Script -------------------------------------------------------------------------------------------------- -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        $('.signout').hide()
        $('.Profile').hide();

        function onSignIn(googleUser) {
            $('.signout').show();
            var profile = googleUser.getBasicProfile();
            $('.signin').hide();
            $('.Profile').show();
            $('.Profile').html('<a class="nav-link">Selamat Datang, ' + profile.getName() + '</a>');
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            $('.signin').show();
            $('.Profile').hide();

            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }

        $( function () {
            $('.alert').hide();
            $('.form-group').hide();

            $('.subscribe').click(function() {
                $('.subscriber').slideUp(500);
                $('.form-group').delay(400).show(200);
            });

            // tombol unsubscribe ------------------------------------------------


            $('body').on('click', '.unsubscribe', function () {
                var email = $(this).attr('id');
                var link = "delete/" + email+"";
                var tr_deleted = 'tr_' + email;
                document.getElementById(tr_deleted).remove();
                $.ajax({
                    url:link,
                });
            });

            // Json data/subscriber ke table -------------------------------------

            $.ajax({
                url: '{% url "subscriber" %}',
                dataType : 'json',
                success:function(response){
                    var s = "";
                    console.log(response);
                    var raw = response["Subscriber"];
                    console.log(raw);
                    for(i = 0; i < raw.length; i++){
                        var index = '' + i;
                        var result = raw[index];

                        var nama = result['nama'];
                        var email = result['email'];

                        s+='<tr id=tr_'+ email + '>';
                        s+='<td style="vertical-align: middle !important; text-align: center">' + (i+1) + '</td>';;
                        s+='<td style="vertical-align: middle !important;">' + nama + '</td>';
                        s+='<td style="vertical-align: middle !important;">' + email + '</td>';
                        s+='<td <button id='+ email + ' class="unsubscribe btn btn-danger" name="Subscriber" style="margin-top: 3vh;margin-bottom: 5vh">unsubscribe</button>'
                        s+='</tr>';
                    }

                    $('#list').html(s);
                }});

            // validasi email sama apa engga -----------------------------------

            $('#id_email').change(function () {
                email = $(this).val();
                console.log($(this).val());
                $.ajax({
                    method: "GET",
                    url: '{% url "validate" %}',
                    data: {
                        'email': email
                    },
                    dataType: 'json',
                    success: function(data){
                        console.log(data);
                        console.log(data.test);
                        if(data.is_taken){
                            $('.save').attr('disabled','disabled');
                            $('.alert-danger').slideDown();
                            $('#id_email').after($('.alert-danger'));
                        }
                        else {
                            $('.alert-danger').slideUp();
                            $('.save').attr('disabled',null);
                        }
                    }
                })
            });
        });


        $(document).ready(function () {
            $('.form-group').on('submit', function(){
                var name = $('#id_nama');
                var email = $('#id_email');
                var password = $('#id_password');
                var data = {
                    'nama': name.val(),
                    'email': email.val(),
                    'password':password.val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                };
                $.ajax({
                    method: 'POST',
                    url: '/story10/submit',
                    type: 'json',
                    data: data,
                    success: function (result) {
                        console.log('result : ' + result.success)
                        $('.alert-success').show(300).delay(1000).hide(300);
                        name.val('');
                        email.val('');
                        password.val('');

                    }
                })
                event.preventDefault();
            })
        })


    </script>
</body>
</html>